<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="kimathiEntities" connectionString="metadata=res://*/KimathiModel.csdl|res://*/KimathiModel.ssdl|res://*/KimathiModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=&quot;|DataDirectory|Kimathi.sdf&quot;;Max Database Size=4091&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="kimathiEntities" connectionString="metadata=res://*/KimathiModel.csdl|res://*/KimathiModel.ssdl|res://*/KimathiModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='Data Source=&quot;|DataDirectory|Kimathi.sdf&quot;'" providerName="System.Data.EntityClient" />-->
    
    <add name="KimathiEntities" connectionString="metadata=res://*/KimathiModel.csdl|res://*/KimathiModel.ssdl|res://*/KimathiModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='Data Source=&quot;|DataDirectory|Kimathi.sdf&quot;'" providerName="System.Data.EntityClient" />
  <!--<add name="KimathiEntities" connectionString="metadata=res://*/KimathiModel.csdl|res://*/KimathiModel.ssdl|res://*/KimathiModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=C:\Users\JOB\Desktop\Projects\Kimathi_Construction\Kimathi_Construction\bin\Debug\Kimathi.sdf;Max Database Size=4091&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>